<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>My Flask Application!</title>

    <u>
      <h1 style="text-align: center">
        Hello! Welcome to a flask contact list application!
      </h1>
    </u>
  </head>

  <body>
    <pre style="text-align: center">
            In this application, you can store your contacts and retrieve them. Landline telephones
            are much safer, I agree. <br />
            Prerequisites: 1. Postman
    </pre>
  </body>
</html>
